
        body{
            font-family: Arial, Helvetica, sans-serif;
            margin: 10;
            padding: 20;
            background-color: #f0f0f0;
        }
        h1,h2{
            color: #333;
        }
        .container {
            background-color: #fff;
            border: 2px solid #333;
            margin-bottom: 20px;
            padding: 10px;
        }
        .flex-container{
            display: flex;
            height: 200px;
            margin-bottom: 10px;
        }
        .circle{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            margin: 5px;

        }
        .pastel-1 {
            background-color: #ffadad;
        }
        .pastel-2{
            
            background-color: #7efa62;
        }
        .pastel-3{
            background-color: #ffea7f;
        }
        .pastel-4{
            background-color: #7fddff;
        }
        .pastel-5{
            background-color: #f9d061;
        }